/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

/* Remove default margin */

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* General styling */

:root {
	--color-primary-pale-violet: hsl(236, 72%, 79%);
	--color-primary-violet: hsl(237, 63%, 64%);

	--color-very-light-grayish-blue: hsl(240, 78%, 98%);
	--color-light-grayish-blue: hsl(234, 14%, 74%);
	--color-grayish-blue: hsl(233, 13%, 49%);
	--color-dark-grayish-blue: hsl(232, 13%, 33%);

	--font-size-400: 15px;
	--font-size-500: 18px;
	--font-size-600: 32px;
	--font-size-700: 40px;
	--font-size-900: 70px;
}

body {
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	background-color: var(--color-very-light-grayish-blue);

	font-family: "Montserrat", sans-serif;
}

body::before {
	content: url("./images/bg-top.svg");
	position: absolute;
	inset: 0 0 0 0;
	z-index: -1;
}

.wrapper {
	width: 100%;
	max-width: 68.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding-inline: 1.5rem;
}

/* Header */

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	/* Temporary */
	outline: 1px solid gray;
}

.header__title {
	color: var(--color-dark-grayish-blue);
	font-size: var(--font-size-600);
}

.header__pricing-scheme {
	display: flex;
	gap: 1.5rem;
	align-items: center;

	font-size: var(--font-size-400);
	color: var(--color-grayish-blue);
}

.header__checkbox {
	display: none;
}

.header__switch {
	position: relative;

	width: 3.5rem;
	height: 2rem;
	border-radius: 1rem;

	background: linear-gradient(90deg, var(--color-primary-pale-violet), var(--color-primary-violet));
}

.header__switch::before {
	content: "";

	position: absolute;
	left: 0.25rem;
	top: 0.25rem;
	height: 1.5rem;
	width: 1.5rem;

	border-radius: 0.75rem;
	background-color: white;
}

/* Grid of cards */

.grid {
	width: 100%;
	display: grid;
}

.card {
	margin-block: 1rem;
	padding: 30px;
	padding-block-start: 2rem;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 2rem;

	border-radius: 0.5rem;

	background-color: white;
}

.card__title {
	font-size: var(--font-size-500);
	text-align: center;
	color: var(--color-grayish-blue);
}

.card__price {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;

	color: var(--color-dark-grayish-blue);
}

.card__dollar-sign {
	font-size: var(--font-size-700);
}

.card__value {
	font-size: clamp(var(--font-size-700), 18.67vw, var(--font-size-900));
	line-height: 1;
}

.card__details {
	display: flex;
	flex-direction: column;
	list-style: none;
	outline: none;

	border-bottom: 1px solid var(--color-light-grayish-blue);
}

.card__list-item {
	padding-block: 1rem;
	border-top: 1px solid var(--color-light-grayish-blue);
	outline: none;

	text-align: center;
	font-size: var(--font-size-400);
	color: var(--color-grayish-blue);
}

.button {
	height: 44px;
	border: none;
	border-radius: 0.5rem;

	background: linear-gradient(90deg, var(--color-primary-pale-violet), var(--color-primary-violet));
	color: var(--color-very-light-grayish-blue);

	text-transform: uppercase;
}

.card--inverted {
	background: linear-gradient(135deg, var(--color-primary-pale-violet), var(--color-primary-violet));
}

.card--inverted .card__title,
.card--inverted .card__price,
.card--inverted .card__list-item {
	color: white;
}

.button--inverted {
	background: white;
	color: var(--color-primary-violet);
}

/* Card-inverted */

/* Active states */

@media (hover: hover) {
	.button:hover {
		background: transparent;
		color: var(--color-primary-violet);
		border: 1px solid;
	}

	.button--inverted:hover {
		color: white;
	}
}

/* Media query */
